body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  margin: auto;
}

.txt-center {
  text-align: center;
}

.fnt20 {
  font-size: 20px;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 20px;
}

/* Button CSS */
.btn {
  border-radius: 10px;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 20px;
  background: #888e91;
  padding: 10px 20px;
  border: 2px solid #5e5e5e;
  text-decoration: none;
}

.btn:hover {
  background: #a8a8a8;
  text-decoration: none;
}

/* Input Type: File CSS */
.custom-file-input {
  color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Choose PNG/JPG File';
  color: #ffffff;
  display: inline-block;
  background: #888e91;
  border: 2px solid #5e5e5e;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #666666;
  padding: 10px 20px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
}

.custom-file-input:hover::before {
  background: #a8a8a8;
  text-decoration: none;
}

.custom-file-input:active {
  outline: 0;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.img {
  display: block;
  height: 40vh;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.buttons {
  margin: 10px;
  text-align: center;
}

.btn-margin {
  margin: 10px 0;
}

.w-100 {
  width: 100%;
}

.p-10 {
  padding: 10px;
}

textarea {
  width: -webkit-fill-available;
}

.alert {
  margin: auto;
  text-align: center;
  color: red;
}